
<html>
<head>
    <title>API_Maping</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
</head>
<body>
    <h1>Sites de roulages PSA</h1>
    
    <div class="container">

        <div class="list">
            <div class="item js-marker" data-lat="48.8999324" data-lng="2.2260228" data-name="Nanterre"> 
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Nanterre</h4>
                <p>Segula Technologie</p>
            </div>
            <div class="item js-marker" data-lat="48.6065899" data-lng="0.9152175" data-name="La ferté Vidame">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>La ferté Vidame</h4>
                <p>Centre d'essai</p>
            </div>
            <div class="item js-marker" data-lat="47.4811743" data-lng="6.8037055" data-name="Belchamp">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Belchamp</h4>
                <p>Centre d'essai</p>
            </div>
            <div class="item js-marker" data-lat="48.6233233" data-lng="2.245314" data-name="Montlhéry">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Montlhéry</h4>
                <p>Centre d'essai</p>
            </div>
            <div class="item js-marker" data-lat="34.313348" data-lng="-6.372634" data-name="Kénitra">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Kénitra</h4>
                <p>Centre d'essai</p>
            </div>
            <div class="item js-marker"" data-lat="44.9462053" data-lng="24.926204" data-name="Pitesti">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Pitesti</h4>
                <p>Centre d'essai</p>
            </div>
            <div class="item js-marker" data-lat="47.5101114" data-lng="6.8228102" data-name="Sochaux">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Sochaux</h4>
                <p>Usine</p>
            </div>
            <div class="item js-marker" data-lat="48.7960866" data-lng="1.9831088" data-name="Trappes">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Trappes</h4>
                <p>Segula Technologie </p>
            </div>
            <div class="item js-marker" data-lat="48.9420726" data-lng="2.047135" data-name="Poissy">
                <img src="https://via.placeholder.com/300x260" alt="just a placeholder">
                <h4>Poissy</h4>
                <p>Usine</p>
            </div>

        </div>

        <div class="map" id="map"></div>
    </div>
    <script src="vendors/vendor.js"></script>
    <script src="../javascript/map.js"></script>
</body>
</html